node-red/container-data/flows.json
[{"id":"1c68adc.1ab1d52","type":"tab","label":"Flow Test - 1","disabled":false,"info":""},{"id":"ff9773a0.88d19","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"adee18e3.0de818","type":"OpcUa-Endpoint","endpoint":"opc.tcp://opcuaserver:26543","secpol":"None","secmode":"None","login":false},{"id":"216dc37f.047a4c","type":"debug","z":"ff9773a0.88d19","name":"test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":260,"wires":[]},{"id":"cee50a16.ea72e","type":"inject","z":"ff9773a0.88d19","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"num","x":90,"y":60,"wires":[["f42d08d4.b3e9a"]]},{"id":"9f88ae40.9a06b8","type":"inject","z":"ff9773a0.88d19","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"num","x":90,"y":140,"wires":[["c68efa1f.54f568"]]},{"id":"b0ce211d.6f0b58","type":"function","z":"ff9773a0.88d19","name":"test","func":"msg.payload = \"TEST123: \"  + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":400,"wires":[["b91bc296.70272"]]},{"id":"b91bc296.70272","type":"debug","z":"ff9773a0.88d19","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":440,"wires":[]},{"id":"2cb97f8f.e951f8","type":"inject","z":"ff9773a0.88d19","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":90,"y":220,"wires":[["df77f42e.126fd"]]},{"id":"aa9c7717.0cd848","type":"inject","z":"ff9773a0.88d19","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":90,"y":300,"wires":[["b47a9ac4.03a27"]]},{"id":"3291b8d6.1c5b08","type":"inject","z":"ff9773a0.88d19","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":90,"y":380,"wires":[["b1cd7bbd.39daf"]]},{"id":"525f02b0.868fa4","type":"inject","z":"ff9773a0.88d19","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":90,"y":460,"wires":[["3b8cbe6.64467c2"]]},{"id":"b2f4087b.5c539","type":"inject","z":"ff9773a0.88d19","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":560,"wires":[["382ea507.622dba"]]},{"id":"f42d08d4.b3e9a","type":"OpcUa-Item","z":"ff9773a0.88d19","item":"ns=3;s=Scalar_Simulation_String","datatype":"String","value":"","name":"SimulatorString","x":340,"y":60,"wires":[["9ce7be0c.b225e8"]]},{"id":"c68efa1f.54f568","type":"OpcUa-Item","z":"ff9773a0.88d19","item":"ns=3;i=1002","datatype":"Double","value":"val","name":"Random","x":320,"y":140,"wires":[["9ce7be0c.b225e8"]]},{"id":"df77f42e.126fd","type":"OpcUa-Item","z":"ff9773a0.88d19","item":"ns=3;i=1003","datatype":"Double","value":"","name":"sawtoth-signal","x":300,"y":220,"wires":[["9ce7be0c.b225e8"]]},{"id":"b47a9ac4.03a27","type":"OpcUa-Item","z":"ff9773a0.88d19","item":"ns=3;i=1004","datatype":"Double","value":"","name":"sinusoid-signal","x":300,"y":300,"wires":[["9ce7be0c.b225e8"]]},{"id":"b1cd7bbd.39daf","type":"OpcUa-Item","z":"ff9773a0.88d19","item":"ns=3;i=1005","datatype":"Double","value":"","name":"square-signal","x":300,"y":380,"wires":[["9ce7be0c.b225e8"]]},{"id":"3b8cbe6.64467c2","type":"OpcUa-Item","z":"ff9773a0.88d19","item":"ns=3;i=1006","datatype":"Double","value":"","name":"triangle-signal","x":300,"y":460,"wires":[["9ce7be0c.b225e8"]]},{"id":"382ea507.622dba","type":"OpcUa-Item","z":"ff9773a0.88d19","item":"ns=5;s=StringDataItem","datatype":"String","value":"","name":"string-item","x":280,"y":540,"wires":[["9ce7be0c.b225e8"]]},{"id":"9ce7be0c.b225e8","type":"OpcUa-Client","z":"ff9773a0.88d19","endpoint":"adee18e3.0de818","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":560,"y":260,"wires":[["216dc37f.047a4c","b0ce211d.6f0b58"]]},{"id":"560831cc.2aa8f","type":"OpcUa-Client","z":"1c68adc.1ab1d52","endpoint":"adee18e3.0de818","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":580,"y":220,"wires":[["5346fdae.2ae924"]]},{"id":"5346fdae.2ae924","type":"debug","z":"1c68adc.1ab1d52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":220,"wires":[]},{"id":"49695226.71cebc","type":"random","z":"1c68adc.1ab1d52","name":"","low":1,"high":10,"inte":"true","property":"payload","x":340,"y":380,"wires":[["e3ca7097.353bd"]]},{"id":"e3ca7097.353bd","type":"debug","z":"1c68adc.1ab1d52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":380,"wires":[]},{"id":"5da8ce4.e97213","type":"inject","z":"1c68adc.1ab1d52","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":540,"wires":[["71bf45a.f9026bc"]]},{"id":"71bf45a.f9026bc","type":"debug","z":"1c68adc.1ab1d52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":540,"wires":[]},{"id":"2916ffb9.9391e","type":"inject","z":"1c68adc.1ab1d52","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":380,"wires":[["49695226.71cebc"]]},{"id":"fc68ab08.844728","type":"inject","z":"1c68adc.1ab1d52","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":100,"y":220,"wires":[["55ac0b29.956c64"]]},{"id":"55ac0b29.956c64","type":"OpcUa-Item","z":"1c68adc.1ab1d52","item":"ns=3;s=Scalar_Simulation_String","datatype":"String","value":"","name":"SimulatorString","x":320,"y":220,"wires":[["560831cc.2aa8f"]]}]